:root {
  /* Layout */
  --content-width: 1440px;

  /* Color palette */
  --bpl-black-color: #000000;
  --bpl-white-color: #FFFFFF;
  --bpl-dark-color: #0C0C0E;
  --bpl-gold-color: #BB945F;
  --bpl-grey-color: #8E8E8E;

  /* Fonts */
  --bpl-inter-font: 'Inter', sans-serif;
  --bpl-forum-font: 'Forum', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--bpl-inter-font);
  color: var(--bpl-black-color);
}

main {
  width: 100%;
}

.main-wrapper {
  width: var(--content-width);
  display: flex;
  background: var(--bpl-white-color);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.header {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--bpl-dark-color);
}

.header__container {
  width: var(--content-width);
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 40px;
}

.header__logo {
  color: var(--bpl-white-color);
  font-family: var(--bpl-forum-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.header__nav-menu {
  margin-left: auto;
}

.header__nav-list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.header__nav-link {
  color: var(--bpl-white-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.header__nav-link::after {
  position: relative;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  bottom: 7px;
  background-color: var(--bpl-white-color);
  transition: width ease-in-out 0.6s;
}

.header__nav-link:hover::after {
  width: 100%;
  background-color: var(--bpl-white-color);
  transition: width ease-in-out 0.6s;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 20px 20px 40px;
}

.section__heading {
  margin: 0;
  color: var(--bpl-dark-color);
  font-family: var(--bpl-forum-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section__heading::after {
  display: block;
  margin: 20px auto 0;
  content: "";
  width: 50px;
  border-bottom: solid 1px var(--bpl-dark-color);
}

.welcome-section {
  height: 600px;
  background-image: linear-gradient(180deg, var(--bpl-dark-color) 0%, var(--bpl-dark-color) 0.01%, rgba(18, 18, 21, 0.1) 50%), url(../images/pictures/welcome.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome__heading {
  display: inline-block;
  width: 600px;
  padding: 35px 40px;
  margin: 220px auto auto 0;
  color: var(--bpl-white-color);
  text-align: center;
  font-family: var(--bpl-forum-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--bpl-dark-color);
}

.about-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-section__description {
  color: var(--bpl-black-color);
  text-align: center;
  font-family: var(--bpl-inter-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.carousel__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.carousel__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__control-wrapper {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel__control {
  height: 16px;
  width: 16px;
  background-color: var(--bpl-dark-color);
  border-radius: 50%;
}

.carousel__control_active {
  background-color: var(--bpl-gold-color);
}