:root {
  /* Layout */
  --content-width: 1440px;

  /* Color palette */
  --bpl-black-color: #000000;
  --bpl-white-color: #FFFFFF;
  --bpl-dark-color: #0C0C0E;
  --bpl-gold-color: #BB945F;
  --bpl-grey-color: #8E8E8E;

  /* Fonts */
  --bpl-inter-font: 'Inter', sans-serif;
  --bpl-forum-font: 'Forum', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--bpl-inter-font);
  color: var(--bpl-black-color);
}

main {
  width: 100%;
}

.main-wrapper {
  width: var(--content-width);
  display: flex;
  background: var(--bpl-white-color);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.header {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--bpl-dark-color);
}

.header__container {
  width: var(--content-width);
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 40px;
}

.header__logo {
  color: var(--bpl-white-color);
  font-family: var(--bpl-forum-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.header__nav-menu {
  margin-left: auto;
}

.header__nav-list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.header__nav-link {
  color: var(--bpl-white-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.header__nav-link::after {
  position: relative;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  bottom: 7px;
  background-color: var(--bpl-white-color);
  transition: width ease-in-out 0.6s;
}

.header__nav-link:hover::after {
  width: 100%;
  background-color: var(--bpl-white-color);
  transition: width ease-in-out 0.6s;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 20px 20px 40px;
}

.section__heading {
  margin: 0;
  color: var(--bpl-dark-color);
  font-family: var(--bpl-forum-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section__heading::after {
  display: block;
  margin: 20px auto 0;
  content: "";
  width: 50px;
  border-bottom: 1px solid var(--bpl-dark-color);
}

.section__sub-heading {
  margin: 0;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

/* Welcome section */

.welcome-section {
  height: 600px;
  background-image: linear-gradient(180deg, var(--bpl-dark-color) 0%, var(--bpl-dark-color) 0.01%, rgba(18, 18, 21, 0.1) 50%), url(../images/pictures/welcome/welcome.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome__heading {
  display: inline-block;
  width: 600px;
  padding: 35px 40px;
  margin: 220px auto auto 0;
  color: var(--bpl-white-color);
  text-align: center;
  font-family: var(--bpl-forum-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--bpl-dark-color);
}

/* About section */

.about-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-section__description {
  color: var(--bpl-black-color);
  text-align: center;
  font-family: var(--bpl-inter-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.carousel__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.carousel__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__control-wrapper {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel__control {
  height: 16px;
  width: 16px;
  background-color: var(--bpl-dark-color);
  border-radius: 50%;
}

.carousel__control_active {
  background-color: var(--bpl-gold-color);
}

/* Favorites section */

.favorites__seasons-form {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 90px;
}

.favorites__radio-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.favorites__season-radio {
  width: 17px;
  height: 17px;
  accent-color: var(--bpl-black-color);
  cursor: pointer;
}

.favorites__season-label {
  padding-left: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.favorites__radio-button input[type="radio"]:checked+label {
  font-weight: 700;
}

.favorites-content {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 260px;
  row-gap: 40px;
}

.book-card {
  position: relative;
  width: 550px;
  height: 555px;
  padding: 15px 20px;
  border: 1px solid var(--bpl-black-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.book-card__text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.book-card__heading {
  margin: 0;
  color: var(--bpl-black-color);
  font-family: var(--bpl-forum-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-card__heading::after {
  display: block;
  content: "";
  width: 60px;
  border-bottom: 1px solid var(--bpl-gold-color);
}

.book-card__title {
  margin: 0;
  font-family: var(--bpl-inter-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}

.book-card__title::first-line {
  text-transform: uppercase;
}

.book-card__description {
  width: 355px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-card__btn-buy {
  width: 75px;
  height: 30px;
  background-color: var(--bpl-white-color);
  border: 1px solid var(--bpl-dark-color);
  border-radius: 2px;
  color: var(--bpl-dark-color);
  text-align: center;
  font-family: var(--bpl-inter-font);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  transition-duration: 0.6s;
}

.book-card__btn-buy:hover {
  background-color: var(--bpl-gold-color);
  border-color: var(--bpl-gold-color);
  transition-duration: 0.6s;
}

.book-card__btn-own {
  width: 75px;
  height: 30px;
  background-color: var(--bpl-white-color);
  border: 1px solid var(--bpl-gold-color);
  border-radius: 2px;
  color: var(--bpl-gold-color);
  text-align: center;
  font-family: var(--bpl-inter-font);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
}

.book-card__cover {
  position: absolute;
  bottom: -1px;
  right: -40px;
}

/* Coffee shop section */

.coffee-section__description {
  color: var(--bpl-black-color);
  text-align: center;
  font-family: var(--bpl-inter-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.coffee-section__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-section {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.menu-beverages {
  align-items: flex-start;
}

.menu-desserts {
  align-items: flex-end;
}

.menu-heading {
  margin: 0;
  color: var(--bpl-gold-color);
  font-family: var(--bpl-forum-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: inherit;
  gap: 40px;
}

.menu-desserts__items {
  align-items: flex-end;
}

.menu-beverages__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.menu-desserts__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.menu__item-name {
  color: var(--bpl-black-color);
  font-family: var(--bpl-inter-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__divider {
  width: 100px;
  height: 1px;
  background-color: var(--bpl-gold-color);
  border: none;
}

.menu-beverages__divider {
  margin-left: auto;
}

.menu__item-price {
  color: var(--bpl-black-color);
  font-family: var(--bpl-forum-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}