:root {
  /* Layout */
  --content-width: 1440px;

  /* Color palette */
  --bpl-black-color: #000000;
  --bpl-white-color: #FFFFFF;
  --bpl-dark-color: #0C0C0E;
  --bpl-gold-color: #BB945F;
  --bpl-grey-color: #8E8E8E;

  /* Fonts */
  --bpl-inter-font: 'Inter', sans-serif;
  --bpl-forum-font: 'Forum', cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--bpl-inter-font);
  color: var(--bpl-black-color);
}

.main-container {
  width: var(--content-width);
  display: flex;
  background: var(--bpl-white-color);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.header {
  width: 1440px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  gap: 40px;
  background: var(--bpl-dark-color);
}

.header__logo {
  color: var(--bpl-white-color);
  font-family: var(--bpl-forum-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.header__nav-menu {
  margin-left: auto;
}

.header__nav-list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.header__nav-link {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.header__nav-link::after {
  position: relative;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  bottom: 7px;
  background-color: var(--bpl-white-color);
  transition: width ease-in-out 0.6s;
}

.header__nav-link:hover::after {
  width: 100%;
  background-color: var(--bpl-white-color);
  transition: width ease-in-out 0.6s;
}