/*#region Common styles */

:root {
  /* Layout */
  --content-max-width: 1440px;

  /* Color palette */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-dark: #0C0C0E;
  --color-gold: #BB945F;
  --color-gray: #8E8E8E;

  /* Fonts */
  --font-inter: 'Inter';
  --font-forum: 'Forum';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-inter);
  color: var(--color-black);
}

main {
  width: 100%;
}

.main-wrapper {
  max-width: var(--content-max-width);
  width: 100%;
  display: flex;
  background: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

/*#endregion*/

/*#region Buttons */

.btn {
  background-color: var(--color-white);
  border: 1px solid var(--color-dark);
  border-radius: 2px;
  color: var(--color-dark);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  transition-duration: 0.6s;

  &:disabled {
    border: 1px solid var(--color-gold);
    color: var(--color-gold);
    cursor: default;
  }

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: var(--color-gold);
      border-color: var(--color-gold);
      transition-duration: 0.6s;
    }
  }
}

/*#endregion*/

/*#region Sections common styles */

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 20px 20px 40px;
}

.section-container_flex-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.section__heading {
  color: var(--color-dark);
  font-family: var(--font-forum);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section__heading::after {
  display: block;
  margin: 20px auto 0;
  content: "";
  width: 50px;
  border-bottom: 1px solid var(--color-dark);
}

/*#endregion*/

/*#region Header */

.header {
  width: 100%;
  height: 90px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 40px;
  background: var(--color-dark);
}

.header__logo {
  width: 294px;
  flex-shrink: 0;
  color: var(--color-white);
  font-family: var(--font-forum);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.header__nav-menu {
  margin-left: auto;

  @media (hover:hover) and (max-width: 1041px),
  (hover:none) and (max-width: 1024px) {
    width: 332px;
    position: absolute;
    top: 100%;
    right: -100%;
    padding: 10px 0 100px;
    display: flex;
    justify-content: center;
    background-color: var(--color-dark);
    transition: all 600ms ease-in-out;

    &.header__nav-menu_open {
      right: 0;
    }
  }
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @media (hover:hover) and (max-width: 1041px),
  (hover:none) and (max-width: 1024px) {
    width: fit-content;
    flex-direction: column;
  }
}

.header__nav-item {
  height: 50px;

  @media (hover:hover) and (max-width: 1041px),
  (hover:none) and (max-width: 1024px) {
    width: 100%;
    text-align: center;
  }
}

.header__nav-link {
  height: 50px;
  color: var(--color-white);
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;

  @media (hover:hover) and (max-width: 1041px),
  (hover:none) and (max-width: 1024px) {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  &::after {
    position: relative;
    display: block;
    content: "";
    width: 0;
    height: 3px;
    bottom: 7px;
    background-color: var(--color-white);
    transition: width ease-in-out 0.6s;
  }

  @media (hover: hover) {
    &:hover::after {
      width: 100%;
      background-color: var(--color-white);
      transition: width ease-in-out 0.6s;
    }
  }
}

.header__profile-icon {
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  border: none;

  @media (hover:hover) and (max-width: 1041px),
  (hover:none) and (max-width: 1024px) {
    margin-left: auto;
  }
}

.header__profile-icon:hover {
  cursor: pointer;
}

.header__btn-burger {
  width: 45px;
  height: 22px;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  @media (hover:hover) and (max-width: 1041px),
  (hover:none) and (max-width: 1024px) {
    display: flex;
  }
}

@media (hover:hover) and (max-width: 1041px),
(hover:none) and (max-width: 1024px) {
  .header__burger-line {
    background-color: var(--color-white);
    width: 100%;
    height: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transition-duration: 600ms;
  }

  .header__btn-burger_open>.header__burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .header__btn-burger_open>.header__burger-line:nth-child(2) {
    opacity: 0;
  }

  .header__btn-burger_open>.header__burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}

/*#endregion*/

/*#region Welcome section */

.welcome-section {
  height: 600px;
  background-image: linear-gradient(180deg, var(--color-dark) 0%, var(--color-dark) 0.01%, rgba(18, 18, 21, 0.1) 50%), url(../images/pictures/welcome/welcome.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome__heading {
  display: inline-block;
  width: 600px;
  padding: 35px 40px;
  margin: 220px auto auto 0;
  color: var(--color-white);
  text-align: center;
  font-family: var(--font-forum);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--color-dark);
}

/*#endregion*/

/*#region About section */

.about-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-section__description {
  color: var(--color-black);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 58px;
}

.carousel__caret {
  width: 24px;
  height: 24px;
  background: no-repeat center url("../images/icons/caret_left.svg");

  @media (hover: hover) and (min-width: 1457px),
  (hover: none) and (min-width: 1440px) {
    display: none;
  }
}

.carousel__caret:last-child {
  transform: rotate(180deg);
}

.carousel__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (hover: hover) and (max-width: 1456px),
  (hover: none) and (max-width: 1439px) {
    max-width: 450px;
  }
}

.carousel__images {
  height: 560px;
  width: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  overflow: hidden;

  @media (hover: hover) and (min-width: 982px),
  (hover: none) and (min-width: 965px) {
    width: 100%;
  }
}

.carousel-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-pagination__dot-wrapper {
  margin: -5px 0;
  padding: 0;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (hover: hover) and (min-width: 1457px),
  (hover: none) and (min-width: 1440px) {

    &:nth-child(n+4) {
      display: none;
    }
  }
}

.carousel-pagination__dot {
  height: 16px;
  width: 16px;
  background-color: var(--color-dark);
  border-radius: 50%;
}

.carousel-pagination__dot_active {
  background-color: var(--color-gold);
}

/*#endregion*/

/*#region Favorites section */

.favorites__sub-heading {
  align-self: flex-start;
  color: var(--color-black);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favorites__seasons-form {
  max-width: 700px;
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.favorites__radio-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.favorites__season-radio {
  width: 17px;
  height: 17px;
  accent-color: var(--color-black);
  cursor: pointer;
}

.favorites__season-label {
  padding-left: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.season-label__winter {
  width: 86px;
}

.season-label__spring {
  width: 79px;
}

.season-label__summer {
  width: 99px;
}

.season-label__autumn {
  width: 94px;
}

.favorites__radio-button input[type="radio"]:checked+label {
  font-weight: 700;
}

.favorites-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 40px;

  @media (max-width: 1260px) {
    justify-content: center;
  }
}

.book-card {
  justify-self: center;
  position: relative;
  width: 550px;
  height: 555px;
  padding: 15px 20px;
  margin-right: 40px;
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.book-card__text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.book-card__heading {
  margin: 0;
  height: 40px;
  color: var(--color-black);
  font-family: var(--font-forum);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-card__heading::after {
  position: relative;
  top: -2px;
  display: block;
  content: "";
  width: 60px;
  border-bottom: 1px solid var(--color-gold);
}

.book-card__title {
  margin: 0;
  font-family: var(--font-inter);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}

.book-card__title::first-line {
  text-transform: uppercase;
}

.book-card__description {
  width: 358px;
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book-card__btn-buy {
  width: 75px;
  height: 30px;
}

.book-card__cover {
  position: absolute;
  bottom: -1px;
  right: -41px;
}

/*#endregion*/

/*#region Coffee shop section */

.coffee-section__description {
  color: var(--color-black);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.coffee-section__menu-container {
  gap: 40px 20px;
}

.menu-section {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.menu-beverages {
  align-items: flex-start;
}

.menu-desserts {
  align-items: flex-end;
  margin-left: auto;
}

.menu-heading {
  margin: 0;
  color: var(--color-gold);
  font-family: var(--font-forum);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: inherit;
  gap: 40px;
}

.menu-desserts__items {
  align-items: flex-end;
}

.menu-beverages__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 59px;
}

.menu-desserts__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 59px;
}

.menu__item-name {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__divider {
  width: 100px;
  height: 1px;
  background-color: var(--color-gold);
  border: none;
}

.menu-beverages__divider {
  margin-left: auto;
}

.menu__item-price {
  color: var(--color-black);
  font-family: var(--font-forum);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

/*#endregion*/

/*#region Contacts section */

.contacts__wrapper {
  gap: 100px 20px;

  @media (hover: hover) and (max-width: 1277px),
  (hover: none) and (max-width: 1260px) {
    flex-flow: column nowrap;
    row-gap: 100px;
  }
}

.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.contacts__info-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.contacts__sub-heading {
  margin: 0;
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts__info-line {
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts-map {
  max-width: 696px;
  width: 100%;

  @media (hover: hover) and (max-width: 1277px),
  (hover: none) and (max-width: 1260px) {
    align-self: center;
  }
}

/*#endregion*/

/*#region Digital library cards section */

.dlc__wrapper {
  gap: 21px 20px;

  @media (max-width: 1260px) {
    flex-flow: column nowrap;
    align-items: center;
  }
}

.dlc__form-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dlc__find-card-header {
  height: 36px;
  margin: 0;
  color: var(--color-black);
  font-family: var(--font-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.dlc__find-card-form {
  width: 100%;
  padding: 17px 17px 27px;
  border: 3px solid var(--color-gold);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dlc__find-card-fieldset {
  width: 100%;
  padding: 20px 20px 25px;
  background-color: var(--color-gold);
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dlc__form-header {
  margin: 0;
  color: var(--color-black);
  font-family: var(--font-forum);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.dlc__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dlc__field {
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  color: var(--color-gold);
  font-family: var(--font-forum);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.dlc__field:focus {
  outline-color: var(--color-gold);
}

.dlc__field::placeholder {
  color: var(--color-gray);
}

.dlc__btn-find-card {
  padding: 9px 39px;
  font-size: 20px;
}

.dlc__get-card-container {
  width: 456px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 35px;

  @media (max-width: 1260px) {
    width: 600px;
    align-items: center;
    gap: 40px;
  }
}

.dlc__get-card-header {
  color: var(--color-black);
  font-family: var(--font-forum);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.dlc__get-card-text {
  color: var(--color-black);
  text-align: right;
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;

  @media (max-width: 1260px) {
    text-align: center;
  }
}

.dlc__auth-controls {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn-auth {
  width: 75px;
  height: 30px;
}

/*#endregion*/

/*#region Footer section */

.footer {
  width: 100%;
  padding: 20px 20px 0;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  font-size: 15px;
  line-height: 20px;
}

.footer .section-container_flex-row:first-child {
  margin-bottom: 10px;
}

.footer__address {
  font-style: normal;
}

.footer__opening-hours {
  text-align: right;
}

.footer__social-icons-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.social-icons-list__item {
  line-height: 1;
}

.footer__social-link {
  line-height: 1;
}

.footer__divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  border: none;
  margin: 30px 0 0;
}

.footer__footnote {
  width: 100%;
  margin: 44px 0;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (hover:hover) and (max-width: 1041px),
  (hover:none) and (max-width: 1024px) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.footnote__year {
  text-align: start;
}

.footnote__rss {
  text-align: center;
}

.footnote__github {
  text-align: end;
}

@media (hover: hover) {
  .footnote__link:hover {
    color: var(--color-gold);
    transition: 0.6s;
  }
}

/*#endregion*/