:root {
  --main-gap: 1rem;
  --game-size: 500px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--main-gap);
}

canvas {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
}

.main-container {
  width: var(--game-size);
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  gap: var(--main-gap);
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

h1 {
  margin: 0;
  color: #776e65;
  font-size: 4rem;
}

.header__scores {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}

.scores__score-container {
  padding: 0.5rem 1rem;
  color: antiquewhite;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #776e65;
}

.game__container {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--main-gap);
}

.game__controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 5px;
}

footer {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer__github {
  text-decoration: none;
  color: inherit;
}