* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.logo-svg {
  height: 39px;
  fill: #3f8eef;
}

h1 {
  margin: 0;
  line-height: 1;
}

#searchForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchInput {
  width: 100%;
  padding: 10px;
  border: 2px solid #3f8eef;
  border-radius: 35px;
  transform: translateX(35px);
  z-index: 1;
}

#searchInput::-webkit-search-cancel-button {
  cursor: pointer;
}

#searchInput:focus {
  outline: none;
  box-shadow: inset 0 0 8px rgba(63, 142, 239, 0.4);
}

#searchButton {
  width: 110px;
  height: 39px;
  text-align: right;
  background-color: #3f8eef;
  padding: 5px 15px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

.search-icon {
  stroke: rgb(239, 239, 254);
  margin-left: auto;
}

@media (hover: hover) {
  #searchButton:hover .search-icon {
    transform: scale(1.1);
    transition: 0.3s all;
  }
}

#imageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
  width: 100%;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  font-weight: 700;

  background-color: rgba(155, 155, 155, 0.5);
}

footer a {
  transition: 0.3s transform linear;
}

@media (hover: hover) {
  footer a:hover {
    transform: scale(1.1);
    transition: 0.3s transform linear;
  }
}