:root {
  --color-gray: #edecec;
  --color-blue: #227ded;

  --padding: 20px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--color-gray);
  padding: var(--padding);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.logo-svg {
  height: 39px;
  fill: var(--color-blue);
}

h1 {
  margin: 0;
  line-height: 1;
}

#searchForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchInput {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--color-blue);
  border-radius: 35px;
  transform: translateX(35px);
  z-index: 1;
}

#searchInput::-webkit-search-cancel-button {
  cursor: pointer;
}

#searchInput:focus {
  outline: none;
  box-shadow: inset 0 0 8px rgba(63, 142, 239, 0.4);
}

#searchButton {
  width: 110px;
  height: 39px;
  text-align: right;
  background-color: var(--color-blue);
  padding: 5px 15px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  transition: 0.3s all;
}

.search-icon {
  stroke: var(--color-gray);
  margin-left: auto;
}

@media (hover: hover) {
  #searchButton:hover .search-icon {
    transform: scale(1.1);
    transition: 0.3s all;
  }

  #searchButton:hover {
    filter: brightness(1.2);
    transition: 0.3s all;
  }
}

#imageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: var(--padding);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s transform;
}

@media (hover: hover) {
  .image:hover:not(.focused) {
    transform: scale(1.03);
    transition: 0.3s transform;
  }
}

footer {
  width: 100%;
  padding: var(--padding);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  font-weight: 700;

  background-color: var(--color-gray);
}

footer a {
  transition: 0.3s transform linear;
}

@media (hover: hover) {
  footer a:hover {
    transform: scale(1.1);
    transition: 0.3s transform linear;
  }
}

.modal-background {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: 0.5s all ease-in-out;
}

.modal-background.visible {
  visibility: visible;
  background-color: rgba(155, 155, 155, 0.8);
  transition: 0.5s all ease-in-out;
}

.modal {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(250%, -50%);
  z-index: 101;
  transition: 0.5s all ease-in-out;
}

.modal.visible {
  visibility: visible;
  transform: translate(-50%, -50%);
  transition: 0.5s all ease-in-out;
}

.modal__image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  color: white;
  font-size: 1.5rem;
  line-height: 1;
  border: none;
  border-radius: 5px;
  background-color: rgba(63, 142, 239, 0.4);
  cursor: pointer;
  transition: 0.1s all;
}

@media (hover: hover) {
  .modal__close-btn:hover {
    transform: scale(1.1);
    transition: 0.1s all;
  }
}

.modal-image {
  max-width: 95vw;
  max-height: 95vh;
  object-fit: contain;
}